
html {
	text-align: left;
}

body {
	width: 90%;
	margin: auto;
}

header {
	background-color: #AAA;
	padding: 4px;
	margin: auto;
	margin-bottom: 5px;
	border: 8px 4px 8px 4px;
	border-color: black;
	border-style: solid;
}

main {
	background-color: #EEE;
	padding: 2%;
	border: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
}

hr {
	width: 90%;
}

h2 {
	text-align: center;
	background-color: #bbe;
	border-bottom: 1px solid black;
}

h3 {
	color: #222;
}

.fullwidth {
	width: 100%;
}

.halfwidth {
	width: 50%;
}

.quarterwidth {
	padding-left: 10%;
	width: 40%;
}

.threequarterwidth {
	width: 50%;
}

.subtitle_tqw {
	margin-left: 16%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #CCC;
	border-bottom: 2px solid black;
	width: 85%;
}

.listtitle {
	text-align: left;
	padding-left: 20%;
}

dl {
	text-align: left;
	padding-left: 20%;
}

dt {
	background-color: #CCC;
	font-family: monospace;
}

i {
	background-color: #CCC;
	font-family: monospace;
}

.linkbutton {
	color: white;
	background-color: #777;
	border: 4px solid black;
	text-decoration: none;
	padding: 6px 8px;
}

.linkbutton:hover {
	animation-name: pressbutton;
	animation-duration: 1s;
	animation-direction: forward;
	animation-fill-mode: forwards;
}

@keyframes pressbutton {
	100% {
		background-color: #999;
	}
}
